@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik Variable", sans-serif;
  background-color: #e5e5e5;
}
::-moz-selection {
  color: #e5e5e5;
  background: #3f3f46;
}

::selection {
  color: #e5e5e5;
  background: #3f3f46;
}
